<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Loading concept -->
  <xacro:property name="concept" value="car_sonar"/>
  <!-- Loading vehicle's specific macros -->
  <xacro:include filename="$(find  forward_looking_sonar_gazebo)/xacro/snippets_${concept}.xacro"/>
  <!--
    Vehicle's parameters (remember to enter the model parameters below)
  -->
  <xacro:property name="visual_mesh_file" value="file://$(find  forward_looking_sonar_gazebo)/meshes/Body_${concept}.stl"/>
  <!-- Loading the UUV simulator ROS plugin macros -->
  <xacro:property name="mass" value="1000"/>
  <xacro:property name="cog" value="0 0 0"/>
  <!-- Fluid density -->
  <xacro:property name="rho" value="1028"/>
  <!-- Vehicle macro -->
  <xacro:macro name="car_sonar_base" params="namespace *gazebo">
    <!-- Rigid body description of the base link -->
    <link name="${namespace}/base_link">
      <!--
          Be careful to setup the coefficients for the inertial tensor,
          otherwise your model will become unstable on Gazebo
        -->
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="${cog}" rpy="0 0 0"/>
        <inertia ixx="100" ixy="0.001" ixz="0.001" iyy="100" iyz="0.001" izz="1000"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.4 0.8 0.1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="${cog}" rpy="0 0 0"/>
        <geometry>
          <box size="0.4 0.8 0.1"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${namespace}/base_link">
      <selfCollide>false</selfCollide>
    </gazebo>

    <link name="${namespace}/test_link">
      <!--
          Be careful to setup the coefficients for the inertial tensor,
          otherwise your model will become unstable on Gazebo
        -->
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01" ixy="0.001" ixz="0.001" iyy="0.01" iyz="0.001" izz="0.01"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        <geometry>
          <cylinder length="0.2" radius="0.1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${namespace}/test_joint" type="revolute">
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <axis xyz="0 0 1" />
      <parent link="${namespace}/base_link" />
      <child link="${namespace}/test_link" />
      <limit upper="0" lower="0" effort="0" velocity="0" />
    </joint>

    
    <!-- Set up hydrodynamic plugin given as input parameter -->
    <xacro:insert_block name="gazebo"/>
    <!-- Include the thruster modules -->
    <xacro:include filename="$(find forward_looking_sonar_gazebo)/xacro/actuators_car_sonar.xacro"/>
    <!-- Include the sensor modules -->
    <xacro:include filename="$(find forward_looking_sonar_gazebo)/xacro/sensors_car_sonar.xacro"/>
  </xacro:macro>
</robot>
