<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="car_sonar">
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="car_sonar"/>
  <xacro:arg name="concept" default="car_sonar"/>
  <!-- -->
  <!-- Include the ROV macro file -->
  <xacro:include filename="$(find forward_looking_sonar_gazebo)/xacro/base_$(arg concept).xacro"/>
  <xacro:include filename="$(find forward_looking_sonar_gazebo)/xacro/gazebo_$(arg concept).xacro"/>
  <!-- -->
  <!-- Create the car_sonar -->
  <xacro:car_sonar_base namespace="$(arg namespace)">
    <!-- -->
    <!-- Gazebo -->
    <gazebo>
    </gazebo>
  </xacro:car_sonar_base>
  <!-- -->
    <gazebo>
      <plugin name="joint_state_publisher" filename="libjoint_state_publisher.so">
        <robotNamespace>$(arg namespace)</robotNamespace>
        <updateRate>40</updateRate>
      </plugin>
    </gazebo>

</robot>
