<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<gazebo reference="car_sonar/test_link">

<sensor name='FLSonar' type='camera'>

    <plugin name="SonarVisual" filename="libForwardLookingSonarGazebo.so" >
        <topic>car_sonar/FLSonar</topic>
        <debug>1</debug>
        <link_reference>car_sonar/test_link</link_reference>
        <horizontal_fov>${pi/4}</horizontal_fov>
        <vfov>${pi/4}</vfov>
        <bin_count>720</bin_count>
        <beam_count>720</beam_count>
        <image>
            <width>720</width>
            <height>720</height>
            <format>R32G32B32</format>
        </image>
        <clip>
            <near>1</near>
            <far>5</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.1</stddev>
        </noise>
    </plugin>  
</sensor>  

</gazebo>

</robot>
